html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 30px 15px 20px;
}
/*.breadcrumb {
    margin-top: 20px !important;
}*/
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/*Tiver*/
@font-face {
    font-family: 'TiverFont'; /*a name to be used later*/
    src: url('../fonts/CaviarDreams.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Lato'; /*a name to be used later*/
    src: url('../fonts/Lato-Regular.ttf'); /*URL to font*/
}

body {
  font-family: Lato !important;
  
}
.navbar {
  font-family: TiverFont !important;
  
}
.breadcrumb{
  font-family: TiverFont !important;
  
}
h1{
  font-family: TiverFont !important;
  
}
thead{
  font-family: TiverFont !important;
  
}
button{
  font-family: TiverFont !important;
  
}
.navbar-inverse {
  background-color: #243957 !important;
  border-color: #080808 !important;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #5fa7df !important;
}

.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff !important;
  background-color: #5fa7df !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #5fa7df;
}

.navbar-inverse .navbar-nav > li > a {
  color: #c6c6c6 !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff !important;
  background-color: transparent !important;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff !important;
  background-color: #5fa7df !important;
}
.logo_tiver{
	 height: 30px;
	 margin-top:-5px;
}
.navbar-inverse .navbar-brand {
  color: #fff !important;
}


.btn-success {
	color: #fff !important;
  background-color:  #243957 !important;
  border-color: #5fa7df !important;
}
.btn-success:hover {
	color: #fff !important;
	 background-color:  #3c5e8e !important;
   border-color: #00CFFE !important;
}
.btn-success:focus {
color: #fff !important;
  background-color:  #243957 !important;
  border-color: #5fa7df !important;
}
.btn-primary {
	color: #fff !important;
  background-color: #3c5e8e !important;
  border-color: #5fa7df !important;
}
.btn-primary:focus {
	color: #fff !important;
  background-color: #3c5e8e !important;
  border-color: #5fa7df !important;
}
.btn-primary:hover {
	color: #fff !important;
  background-color:  #243957 !important;
  border-color: #5fa7df !important;
}

.btn-danger {
	color: #fff !important;
  border-color: #575757 !important;
}
.btn-danger:hover {
	color: #fff !important;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff !important;
}
a {
  color: #5fa7df !important;
  
}
a:hover,
a:focus {
  color: #3c5e8e !important;;
 
}

.dropdown-menu > li > a {
  color: #575757 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #332f49 !important;
  text-decoration: none !important;
  background-color: #f2f2f4 !important;
}

/*.breadcrumb {
  background-color: #f2f2f4 !important;
}*/

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f2f2f4 !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff !important;;
  
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #f2f2f4 !important;
}

#gmap0-map-canvas{
width:100% !important;
height: 700px !important;
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
.padding-left-right-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.button_h_center{
    width: 70px;
}

